.graph {
  display: block;
  clear: both;
  width: 100%;
}

.container-fix {
  height: 530px;
  width: 330px;
  padding: 0 10px;
  box-sizing: border-box;
}
.heading {
  text-align: center;
}
.c3-axis-x .tick {
   display: none;
}

.config-fix {
  height: 527px;
  margin-bottom: 3px;
}
.form-separator {
  padding: 0;
  margin: 0 0 10px 0;
}

.window-container {
  padding: 10px 0 10px 10px;
}
